In [1]:
import pandas as pd
import numpy as np

unemp_county = pd.read_csv('datasets/output.csv')
unemp_county.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [2]:
df = pd.read_csv('datasets/minwage.csv')

act_min_wage = pd.DataFrame()

for name, group in df.groupby('State'):
    if act_min_wage.empty:
        act_min_wage = group.set_index('Year')[['Low.2018']].rename(columns = {'Low.2018':name})
        
    else:
        act_min_wage = act_min_wage.join(group.set_index('Year')[['Low.2018']].rename(columns = {'Low.2018':name}))

In [3]:
act_min_wage = act_min_wage.replace(0, np.NaN).dropna(axis = 1)

In [4]:
def get_min_wage(year, state):
    try:
        return act_min_wage.loc[year][state]
    except:
        return np.NaN
    
get_min_wage(2012, 'Colorado')

8.33

In [5]:
%%time

unemp_county['min_wage'] = list(map(get_min_wage, unemp_county['Year'], unemp_county['State']))

Wall time: 2min 55s

In [6]:
unemp_county.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [7]:
unemp_county[['Rate', 'min_wage']].corr()

              Rate  min_wage
Rate      1.000000  0.153047
min_wage  0.153047  1.000000

In [8]:
unemp_county[['Rate', 'min_wage']].cov()

              Rate  min_wage
Rate      9.687873  0.651586
min_wage  0.651586  1.874228

In [9]:
pres16 = pd.read_csv('datasets/pres16results.csv')
pres16.head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [18]:
county_2015 = unemp_county.copy()[(unemp_county['Year'] == 2015) & (unemp_county['Month'] == 'February')]

In [19]:
county_2015.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [20]:
state_abbv = pd.read_csv('datasets/state_abbv.csv', index_col=0)
state_abbv = state_abbv[['Postal Code']]
state_abbv.head()

               Postal Code
State/District
Alabama                 AL
Alaska                  AK
Arizona                 AZ
Arkansas                AR
California              CA

In [21]:
state_abbv_dict = state_abbv.to_dict()['Postal Code']

In [22]:
county_2015['State'] = county_2015['State'].map(state_abbv_dict)

In [23]:
county_2015.tail()

      Year     Month State              County  Rate  min_wage
2797  2015  February    ME     Somerset County   8.4      7.92
2798  2015  February    ME       Oxford County   6.8      7.92
2799  2015  February    ME         Knox County   6.1      7.92
2800  2015  February    ME  Piscataquis County   7.0      7.92
2801  2015  February    ME    Aroostook County   7.2      7.92

In [24]:
pres16.rename(columns={'county':'County', "st":"State"}, inplace=True)
pres16.head()

,County,fips,cand,State,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [25]:
for df in [county_2015, pres16]:
    df.set_index(['County', 'State'], inplace=True)

In [26]:
pres16.head()

             fips             cand  pct_report       votes  total_votes  \
County State
NaN    US      US     Donald Trump      0.9951  60350241.0  127592176.0
       US      US  Hillary Clinton      0.9951  60981118.0  127592176.0
       US      US     Gary Johnson      0.9951   4164589.0  127592176.0
       US      US       Jill Stein      0.9951   1255968.0  127592176.0
       US      US    Evan McMullin      0.9951    451636.0  127592176.0

                   pct          lead
County State
NaN    US     0.472993  Donald Trump
       US     0.477938  Donald Trump
       US     0.032640  Donald Trump
       US     0.009844  Donald Trump
       US     0.003540  Donald Trump

In [27]:
pres16 = pres16[pres16['cand'] == "Donald Trump"]
pres16 = pres16[['pct']]
pres16.dropna(inplace=True)
pres16.head()

                   pct
County State
NaN    US     0.472993
       CA     0.330641
       FL     0.490640
       TX     0.525830
       NY     0.374752

In [28]:
all_together = county_2015.merge(pres16, on=['County', 'State'])
all_together.dropna(inplace=True)

In [29]:
all_together.head()

                           Year     Month  Rate  min_wage       pct
County              State
Major County        OK     2015  February   2.6      2.11  0.864960
Pottawatomie County OK     2015  February   4.5      2.11  0.701342
Johnston County     OK     2015  February   6.5      2.11  0.770057
Jefferson County    OK     2015  February   5.0      2.11  0.812367
Beaver County       OK     2015  February   2.8      2.11  0.888243

In [30]:
all_together.drop('Year', axis = 1, inplace=True)
all_together.head()

                              Month  Rate  min_wage       pct
County              State
Major County        OK     February   2.6      2.11  0.864960
Pottawatomie County OK     February   4.5      2.11  0.701342
Johnston County     OK     February   6.5      2.11  0.770057
Jefferson County    OK     February   5.0      2.11  0.812367
Beaver County       OK     February   2.8      2.11  0.888243

In [31]:
all_together.corr()

              Rate  min_wage       pct
Rate      1.000000  0.186689 -0.085985
min_wage  0.186689  1.000000 -0.325036
pct      -0.085985 -0.325036  1.000000

In [32]:
all_together.cov()

              Rate  min_wage       pct
Rate      5.743199  0.683870 -0.031771
min_wage  0.683870  2.336451 -0.076602
pct      -0.031771 -0.076602  0.023772